:root {
    --purple: #d5b6fb;
    --lila: #a7ffdf;
    --blue: #b6dafb;
    --baby_blue: #bafbfb;
    --yellow: #fbfdb6;
    --pink: #fdb6ec;
    --green: #d5fbb6;
    --orange: #fbd8b6;
    --mumy_red: #ffbebe;
    --yellow_plus_orange: linear-gradient( rgba(251, 253, 182) 0%, rgb(251, 216, 182) 100%);}

.btn-outline-variable {
    --bs-btn-color: var(--btn-color, #000); 
    --bs-btn-border-color: var(--btn-border-color, #000); 
    --bs-btn-hover-color: #fff; 
    --bs-btn-hover-bg: var(--btn-hover-bg, #000); 
    --bs-btn-hover-border-color: var(--btn-hover-border-color, #000); 
    --bs-btn-focus-shadow-rgb: 25,135,84;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--btn-active-bg, #000);
    --bs-btn-active-border-color: var(--btn-active-border-color, #000);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: var(--btn-color, #000);
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: var(--btn-border-color, #000);
    --bs-gradient: none;  
}

.btn-outline-variable:hover {
    color: var(--bs-btn-hover-color);
    background-color: var(--bs-btn-hover-bg);
    border-color: var(--bs-btn-hover-border-color);
}

.btn-outline-variable:focus, .btn-outline-variable:active {
    color: var(--bs-btn-active-color);
    background-color: var(--bs-btn-active-bg);
    border-color: var(--bs-btn-active-border-color);
}

.btn-outline-baby_blue {
    --btn-color: #000;
    /* --btn-color: var(--baby_blue); */
    --btn-border-color: var(--baby_blue);
    --btn-hover-bg: var(--baby_blue);
    --btn-hover-border-color: var(--baby_blue);
}

.btn-outline-pink {
    --btn-color: #000;
    --btn-border-color: var(--pink);
    --btn-hover-bg: var(--pink);
    --btn-hover-border-color: var(--pink);
}

.btn-outline-green {
    --btn-color: #000;
    --btn-border-color: var(--green);
    --btn-hover-bg: var(--green);
    --btn-hover-border-color: var(--green);
}

.btn-outline-mumy_red {
    --btn-color: #000;
    --btn-border-color: var(--mumy_red);
    --btn-hover-bg: var(--mumy_red);
    --btn-hover-border-color: var(--mumy_red);
}


.btn-outline-blue {
    --btn-color: #000;
    --btn-border-color: var(--blue);
    --btn-hover-bg: var(--blue);
    --btn-hover-border-color: var(--blue);
}


.btn-outline-lila {
    --btn-color: #000;
    --btn-border-color: var(--lila);
    --btn-hover-bg: var(--lila);
    --btn-hover-border-color: var(--lila);
}

.btn-outline-orange {
    --btn-color: #000;
    --btn-border-color: var(--orange);
    --btn-hover-bg: var(--orange);
    --btn-hover-border-color: var(--orange);
}

.btn-outline-yellow {
    --btn-color: #000;
    --btn-border-color: var(--yellow);
    --btn-hover-bg: var(--yellow);
    --btn-hover-border-color: var(--yellow);
}

.btn-outline-purple {
    --btn-color: #000;
    --btn-border-color: var(--purple);
    --btn-hover-bg: var(--purple);
    --btn-hover-border-color: var(--purple);
}

 

.bg-purple {
    background: var(--purple)
}
.bg-lila {
    background: var(--lila)
}
.bg-blue {
    background: var(--blue)
}
.bg-baby_blue {
    background: var(--baby_blue)
}
.bg-yellow {
    background: var(--yellow)
}
.bg-pink {
    background: var(--pink)
}
.bg-green {
    background: var(--green)
}
.bg-orange {
    background: var(--orange)
}
.bg-mumy_red {
    background: var(--mumy_red)
}
.bg-yellow_plus_orange {
    background: var(--yellow_plus_orange)
}




body {
    padding-top: 3rem;
}

#MAIN{
    margin-top: 58px;
}

#FOOTER p{
    margin-bottom: 0px;
}

/* .imagesinsection img{
    max-width: 100%;
    height: auto;
} */

.liCloseUp{
    list-style-type: circle;
}


.portfolio{
    max-width: 26rem;
    margin-left: auto;
    margin-right: auto;
    /* position: relative;
    display: block;
    margin: 0 auto; */
}

.card-img-top {
    /* POKUSSS */
    aspect-ratio: 3 / 2; 
    /* min-width: 160px;
    min-height: 120px; */
    width: 100%;
    border-radius: 10px 10px 0 0;
}


.dropdown-item:hover{
    /* make it custom for each part */
    background-color: #811d1d;
    color: aqua;
}

.navbar{
    font-family: 'Arial Black' , sans-serif;
    padding-top: 1rem;
    padding-bottom: 1rem;
}


#navbarCollapse{
    flex-direction: row-reverse;

}

/* .navbar .continer{
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
} */
.nav-item{
    font-weight: 600;
}
.not_a_table_center{
    justify-content: center;
    align-items: center;
}

#ROZVRHHODIN{
    font-size: 1vw;
}
/* .navbar-toggler{
    margin-right: 1rem;
} */

.iframeholder{
    width: 100%;
    height: 100%;
    border: 0;
    position: relative;

}

.myIframe{
    width: 100%;
    height: 100%;
    border: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}






.card {
    border: none;
    color:black;
    border-radius: 12px;
}

.form-control:focus {
    box-shadow: none;
    border-color: #007bff;
}

#KONTAKTLEFT{
    font-size: 2rem;
}



.colorFullClose{
    background: radial-gradient(circle, rgba(192, 63, 251, 0.5) 0%, rgba(252, 70, 107, 1) 100%);
    color: rgb(255, 255, 255);
}


.colorFullClose:hover{
    background: radial-gradient(circle, rgba(252, 70, 107, 0.5) 0%, rgba(192, 63, 251, 1) 100%);
    color: rgb(0, 0, 0);
}


/* TOTO ROBY SVG plus na celu karticku alebo nie */
.portfolio-link{
    position: relative;
    display: block;
    /* margin: 0 auto; */
}

.portfolio-hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, rgba(192, 63, 251, 0.5) 0%, rgba(252, 70, 107, 1) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s ease-in-out;
    border-radius: 10px;
}
  


.card:hover .portfolio-hover {
    opacity: 1;
}
  
.portfolio-hover-content {
    color: #fff;
    font-size: 2rem;
}
  
.fa-plus{
    color: #fff;
    width: 200px;
    top: 200px;
}

.text-muted{
    display: block;
}

.navigateTO{
    padding-top: 7rem;
}

#ALLCONTENT{
    padding-left: 3rem;
    padding-right: 3rem;
    /* AAAAAAAAAAAAAAAAAAAAAAAAA */
    /* top: 0;
    position: absolute; */
}

#FLUIDDIVFIXED{
    /* BLOCK !!!!! show dont show */
    display: block; 
    margin: 2%;
    overflow: scroll;
    max-width: 97%;
    top: 75px;
    padding-bottom: 120px;
}

#FLUIDDIVFIXED::-webkit-scrollbar {
    display: none;
}

.modal-content {
    /* padding-top: 6rem;
    padding-bottom: 6rem; */
}



.close-modal {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    background-color: transparent;
    z-index: 1;
}

.smallHeadTrainers{
    width: 200px;
    height: 200px;
    aspect-ratio: 1;
}


.treneri{
    margin-bottom: 3rem;
    max-width: 26rem;
    margin-left: auto;
    margin-right: auto;
}


#myNavbar{
    flex-direction: row-reverse;
}
  

.wrapText{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}







.modal-content{
    background: linear-gradient( rgba(230,175,255,1) 0%, rgba(255,165,165,1) 34%, rgba(250,238,238,1) 64%);
}



/* 
.btn-outline-success {
    --bs-btn-color: #198754;
    --bs-btn-border-color: #198754;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #198754;
    --bs-btn-hover-border-color: #198754;
    --bs-btn-focus-shadow-rgb: 25,135,84;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #198754;
    --bs-btn-active-border-color: #198754;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #198754;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #198754;
    --bs-gradient: none;
}

.btn-outline-baby_blue{
    background-color: #bafbfb;
} */
/* .btn-rozvrh:hover{
    color: white;
     background-color: transparent;
} */




td {
    padding: 0; /* Remove padding inside <td> */
    margin: 0;
    height: 100%;
}
/* td div {
    width: 100%;
    height: 100%;
    padding: 15px; 
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
} */
/* td {
    padding: 0;
    margin: 0;
}
td div {
    width: 100%;
    height: 100%;
} */
tbody{
    vertical-align: revert;
}


/* #TOPFIXSCROLL{
    position: fixed;
    top: -200px;
} */





/* @media only screen and (max-width: 800px) {
    #MAINVYTAJTE{
        text-align: center;
    }
    #HOTSIDENAWBARCOONAS{
        font-size: 2rem;
    }
}  */


/* 
.portfolio-link{
    display: none;
} */



/* MIN */


/* @media (min-width: 576px) { ... }

@media (min-width: 768px) { ... }

@media (min-width: 992px) { ... }

@media (min-width: 1200px) { ... }

@media (min-width: 1400px) { ... } */


/* MAX */
/* @media (max-width: 575.98px) { ... }

@media (max-width: 767.98px) { ... }

@media (max-width: 991.98px) { ... }

@media (max-width: 1199.98px) { ... }

@media (max-width: 1399.98px) { ... } */


/* THE WEY OUT */

@media (min-width: 1400px) { 
    #FLUIDDIVFIXED{
        top: 65px;
    }
 }



@media only screen and (max-width: 575.98px) {
    #LOGOMAIN
    {
        width: 60vw;
    }
    #FOOTER p{
        text-align: left;
        padding-left: 75px;
        margin-bottom: 0px;
    }
    #LOGOFOOTER{
        max-width: 60px;
        min-width: 60px;
    }
    
    #MAINVYTAJTE{
        text-align: center;
    }
    #HOTSIDENAWBARCOONAS{
        font-size: 1.5rem;
    }
    #FLUIDDIVFIXED{
        top: 90px;
    }
}

@media (max-width: 767.98px) { 
    .navbar{
        padding-right: 1rem !important;
        padding-left: 1rem !important;
    }
    
    .dropdown-menu.show{
        display: none !important;
    }

    #MAINVYTAJTE{
        text-align: center;
    }
    #HOTSIDENAWBARCOONAS{
        font-size: 2rem;
    }
    


    .portfolio-hover{
        display: none !important;
    }
}





@media (min-width: 768px) { 
    .navbar .nav-item .dropdown-menu{ display: none; }
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; }

    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
    
    .text-muted{
        display: none;
    }

    .portfolio-hover{
        display: flex !important;
    }
}































