body {
    padding-top: 3rem;
}

#MAIN{
    margin-top: 58px;
}

#FOOTER p{
    margin-bottom: 0px;
}

/* .imagesinsection img{
    max-width: 100%;
    height: auto;
} */




.portfolio{
    max-width: 26rem;
    margin-left: auto;
    margin-right: auto;
    /* position: relative;
    display: block;
    margin: 0 auto; */
}

.card-img-top {
    /* width: 100%; */
    /* height: auto; */
    /* max-height: 400px; */
    /* object-fit: cover; */

    /* POKUSSS */
    /* aspect-ratio: 16 / 9; 
    min-width: 320px;
    min-height: 180px; */

     /* POKUSSS */
     aspect-ratio: 4 / 3; 
     min-width: 160px;
     min-height: 120px;
     border-radius: 10px 10px 0 0;

}

/* Fallback for older browsers that don't support aspect-ratio */
.card-img-top::before {
    content: "";
    display: block;
    padding-top: 75%; 
}



.dropdown-item:hover{
    /* make it custom for each part */
    background-color: #811d1d;
    color: aqua;
}

.navbar{
    font-family: 'Arial Black' , sans-serif;
    padding-top: 1rem;
    padding-bottom: 1rem;
}


#navbarCollapse{
    flex-direction: row-reverse;

}

/* .navbar .continer{
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
} */
.nav-item{
    font-weight: 600;
}
.not_a_table_center{
    justify-content: center;
    align-items: center;
}
/* #ROZVRHHODIN{
    min-width: 650px;
} */
/* .navbar-toggler{
    margin-right: 1rem;
} */

.iframeholder{
    width: 100%;
    height: 100%;
    border: 0;
    position: relative;

}

.myIframe{
    width: 100%;
    height: 100%;
    border: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}






.card {
    border: none;
    color:black;
    border-radius: 12px;
}

.form-control:focus {
    box-shadow: none;
    border-color: #007bff;
}

#KONTAKTLEFT{
    font-size: 2rem;
}



#colorFullClose{
    background: radial-gradient(circle, rgba(192, 63, 251, 0.5) 0%, rgba(252, 70, 107, 1) 100%);
    color: rgb(255, 255, 255);
}


#colorFullClose:hover{
    background: radial-gradient(circle, rgba(252, 70, 107, 0.5) 0%, rgba(192, 63, 251, 1) 100%);
    color: rgb(0, 0, 0);
}


/* TOTO ROBY SVG plus na celu karticku alebo nie */
.portfolio-link{
    position: relative;
    display: block;
    /* margin: 0 auto; */
}

.portfolio-hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, rgba(192, 63, 251, 0.5) 0%, rgba(252, 70, 107, 1) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s ease-in-out;
    border-radius: 10px;

    /* z-index: 10; Ensure it overlays the image */
  }
  


.card:hover .portfolio-hover {
    opacity: 1;
}
  
.portfolio-hover-content {
    color: #fff;
    font-size: 2rem;
}
  
.fa-plus{
    color: #fff;
    width: 200px;
    top: 200px;
}

.text-muted{
    display: block;
}

.navigateTO{
    padding-top: 7rem;
}

#ALLCONTENT{
    padding-left: 3rem;
    padding-right: 3rem;
    /* AAAAAAAAAAAAAAAAAAAAAAAAA */
    /* top: 0;
    position: absolute; */
}

#FLUIDDIVFIXED{
    /* BLOCK !!!!! show dont show */
    display: block; 
    margin: 2%;
    overflow: auto;
    max-width: 97%;
}

#FLUIDDIVFIXED::-webkit-scrollbar {
    display: none;
  }

.modal-content {
    padding-top: 6rem;
    padding-bottom: 6rem;
}



.close-modal {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    background-color: transparent;
    z-index: 1;
}

.smallHeadTrainers{
    width: 200px;
    height: 200px;
    aspect-ratio: 1;
}


.treneri{
    margin-bottom: 3rem;
    max-width: 26rem;
    margin-left: auto;
    margin-right: auto;
}


#myNavbar{
    flex-direction: row-reverse;
}
  

.wrapText{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
  
@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
    /* .dropdown-menu{
        display: none;
    } */
    /* #navNormalView{
        display: none;
    } */

    
    .text-muted{
        display: none;
    }
}




@media only screen and (max-width: 450px) {
    .navbar{
        padding-right: 1rem !important;
        padding-left: 1rem !important;
    }
    
    
    #LOGOMAIN
    {
        width: 65vw;
    }
    #FOOTER p{
        text-align: left;
        padding-left: 75px;
        margin-bottom: 0px;
    }
    #LOGOFOOTER{
        max-width: 60px;
        min-width: 60px;
    }
    
    #MAINVYTAJTE{
        text-align: center;
    }
    #HOTSIDENAWBARCOONAS{
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 800px) {
    #MAINVYTAJTE{
        text-align: center;
    }
    #HOTSIDENAWBARCOONAS{
        font-size: 2rem;
    }
} 



/* MIN */


/* @media (min-width: 576px) { ... }

@media (min-width: 768px) { ... }

@media (min-width: 992px) { ... }

@media (min-width: 1200px) { ... }

@media (min-width: 1400px) { ... } */


/* MAX */
/* @media (max-width: 575.98px) { ... }

@media (max-width: 767.98px) { ... }

@media (max-width: 991.98px) { ... }

@media (max-width: 1199.98px) { ... }

@media (max-width: 1399.98px) { ... } */


/* THE WEY OUT */
@media (max-width: 767.98px) { 
    
    .dropdown-menu.show{
        display: none !important;
    }


}





@media (min-width: 768px) { 
    .navbar .nav-item .dropdown-menu{ display: none; }
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; }

}



































.purple {
    background-color: #d5b6fb;
}
.blue {
    background-color: #b6dafb;
}
.yellow {
    background-color: #fbfdb6;
}
.pink {
    background-color: #fdb6ec;
}
.green {
    background-color: #d5fbb6;
}
.orange {
    background-color: #fbd8b6;
}


td {
    padding: 0; /* Remove padding inside <td> */
    margin: 0;
    height: 100%;
}
/* td div {
    width: 100%;
    height: 100%;
    padding: 15px; 
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
} */
/* td {
    padding: 0;
    margin: 0;
}
td div {
    width: 100%;
    height: 100%;
} */
tbody{
    vertical-align: revert;
}


#TOPFIXSCROLL{
    position: fixed;
    top: -200px;
}